// 'dark'
a {
    color: rgb(88, 1, 135);
}
.dark a {
    color: rgb(7, 146, 180);
}
div.flex-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 31.24rem) {
    div.flex-middle {
        width: 100%;
        button {
            width: 80%;
        }
    }
}
